### Command to print current working directory

In [1]:
import os
os.getcwd()

'E:\\Machine Learning A-Z_Download Codes and Datasets\\ML_Git'

### Command to move and copy files from one location to another location

In a raw string, backslashes (\) are treated as literal characters and are not interpreted as escape characters (such as \n for newline or \t for tab)

In [ ]:
import shutil
shutil.move(r'E:\\Machine Learning A-Z_Download Codes and Datasets\\AWS\pyspark_intro.ipynb'\
            ,r'E:\\Machine Learning A-Z_Download Codes and Datasets\\ML_Git\pyspark_intro.ipynb')
#shutil.copy(src_path,dst_path)

### Pyspark Introduction

Installing Pyspark in Windows
1. Created Python virtual environment named 'my_venv'  cmd: python -m venv my_venv
2. activate the environment cmd: .\my_venv\Scripts\activate
3. install pyspark cmd: pip install pyspark
4. install terminal for pyspark cmd: pip install ipykernel
5. install the kernel cmd: python -m ipykernel install --user --name PYSPARK_KERNEL

In [2]:
import pyspark
from pyspark.sql import SparkSession
# if got the error of PySparkRuntimeError: [JAVA_GATEWAY_EXITED] Java gateway process exited before sending its port number. 
import os
os.environ['JAVA_HOME'] = r'C:\Users\sainadh\my_venv\Java\jdk-21'

In [3]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [14]:
spark=SparkSession.builder.getOrCreate()
file_path=os.getcwd()+r'\BigMart_Sales.csv'
df = spark.read.csv(file_path,header=True)
df.printSchema() # returns schema of the dataframe

root
 |-- Item_Identifier: string (nullable = true)
 |-- Item_Weight: string (nullable = true)
 |-- Item_Fat_Content: string (nullable = true)
 |-- Item_Visibility: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Item_MRP: string (nullable = true)
 |-- Outlet_Identifier: string (nullable = true)
 |-- Outlet_Establishment_Year: string (nullable = true)
 |-- Outlet_Size: string (nullable = true)
 |-- Outlet_Location_Type: string (nullable = true)
 |-- Outlet_Type: string (nullable = true)
 |-- Item_Outlet_Sales: string (nullable = true)

In [15]:
# n- no.of rows to be  printed and vertical- Each row will be printed in vertical fashion
df.show(n=1, truncate=False, vertical=True)

-RECORD 0--------------------------------------
 Item_Identifier           | FDA15
 Item_Weight               | 9.3
 Item_Fat_Content          | Low Fat
 Item_Visibility           | 0.016047301
 Item_Type                 | Dairy
 Item_MRP                  | 249.8092
 Outlet_Identifier         | OUT049
 Outlet_Establishment_Year | 1999
 Outlet_Size               | Medium
 Outlet_Location_Type      | Tier 1
 Outlet_Type               | Supermarket Type1
 Item_Outlet_Sales         | 3735.138
only showing top 1 row

In [16]:
# convert a small DataFrame to Pandas for richer display
import pandas as pd
df.limit(10).toPandas()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047301,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
1,DRC01,5.92,Regular,0.019278216,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.5,Low Fat,0.016760075,Meat,141.618,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.27
3,FDX07,19.2,Regular,0,Fruits and Vegetables,182.095,OUT010,1998,None,Tier 3,Grocery Store,732.38
4,NCD19,8.93,Low Fat,0,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.65,Regular,0.012741089,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,None,Low Fat,0.127469857,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.2,Regular,0.016687114,Frozen Foods,96.9726,OUT045,2002,None,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.2,Regular,0.09444959,Frozen Foods,187.8214,OUT017,2007,None,Tier 2,Supermarket Type1,4710.535